<div style="width:800px;">
  <nb-card>
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row mb-3">
        <div class="col-sm-12">
          <div style="font-weight: bold;" class="mb-2">Concepto:</div>
          <div> {{concept.title}}</div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12">
          <div style="font-weight: bold;" class="mb-2">Descripción:</div>
          <div *ngIf="concept.description!==''" style="max-height: 60px; overflow-y: auto;">{{concept.description}}
          </div>
          <div *ngIf="concept.description===''">-</div>
        </div>
      </div>
      <div class="row" style="max-height: 400px; overflow-y: auto;">
        <div class="col-sm-12">
          <div class="row">
            <div style="font-weight: bold;" class="col-sm-6 mb-2 mt-2">Cuestionarios:</div>
            <div style="font-weight: bold;" class="col-sm-6 mb-2 mt-2 text-right">
              <button nbTooltip="Adicionar" nbButton ghost (click)="newPoll()" size="tiny">
                <nb-icon icon="plus-outline" title="Adicionar"></nb-icon>
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">Nombre</div>
            <div class="col-sm-6 text-right"> Orden</div>
          </div>
          <nb-list>
            <nb-list-item *ngFor="let p of polls">
              <div class="row">
                <div class="col-sm-1" *ngIf="showInput===false || selectedPoll?.id!==p.id">
                  <button nbTooltip="Eliminar" nbButton ghost (click)="deletePoll(p, dialog)" size="tiny"
                    style="margin-top:-5px;">
                    <nb-icon icon="trash-outline" title="Eliminar"></nb-icon>
                  </button>

                </div>
                <div class="col-sm-9" (dblclick)="inlineEdition(p)"
                  *ngIf="showInput===false || selectedPoll?.id!==p.id">
                  {{ p.name }}
                </div>

                <div class="col-sm-10" *ngIf="showInput===true && selectedPoll?.id===p.id">
                  <input type="text" nbInput fullWidth [(ngModel)]="pollName" #conceptTitleElement tabindex="-1"
                    (focusout)="hideInput()"
                    [status]="showInput===true ? (pollName===''  ? 'danger' : 'success') : 'basic'" />
                  <ng-container *ngIf="showInput===true && pollName===''">
                    <p class="caption status-danger">
                      Debe introducir un valor.
                    </p>
                  </ng-container>
                </div>

                <div class="col-sm-2 text-right">
                  <!-- <nb-select [fullWidth]="false" [multiple]="false" [(selected)]="p.order"
                    (selectedChange)="selectionChange($event,p)">
                    <nb-option *ngFor="let t of polls; index as pos" [value]="pos+1"> {{ pos+1}} </nb-option>
                  </nb-select> -->
                  <ng-select [searchable]="false" [clearable]="false" [(ngModel)]="p.order"
                    (change)="selectionChange($event, p)">
                    <ng-option *ngFor="let t of polls; index as pos" [value]="pos+1">{{pos+1}}</ng-option>
                  </ng-select>
                </div>
              </div>

            </nb-list-item>
          </nb-list>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <!-- <button type="submit" nbButton (click)="save()">Salvar</button> -->
      <button nbButton status="basic" (click)="close()" style="float: right;">Cancelar</button>
    </nb-card-footer>
  </nb-card>

  <ng-template #dialog let-data let-ref="dialogRef">
    <div style="width:600px;">
      <nb-card>
        <nb-card-header>Eliminar Cuestionario</nb-card-header>
        <nb-card-body>
          ¿Confirma la eliminación del cuestionario y sus preguntas y respuestas asociadas?
        </nb-card-body>
        <nb-card-footer>
          <button nbButton status="danger" (click)="deletePollDialog(ref)">Confirmar</button>
          <button nbButton status="basic" (click)="dismissDeletePoll(ref)" style="float: right;">Cancelar</button>
        </nb-card-footer>
      </nb-card>
    </div>
  </ng-template>
</div>