<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-6">Conceptos</div>
      <div class="col-sm-6 text-right">
        <nb-checkbox status="primary" (checkedChange)="onCheckedChange($event)">Por Traducir</nb-checkbox>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <p *ngIf="!concepts||concepts.length===0">Sin datos que mostrar</p>
    <nb-accordion>
      <nb-accordion-item #item *ngFor="let c of concepts">
        <nb-accordion-item-header>
          <!-- {{c.title}} -->
          <div class="row" style="width: 100%;">
            <div class="col-12">{{c.title}}</div>
            <div class="col-12">
              <div class="row pl-3">
                <div class="mr-1 lang-name">ES</div>
                <div *ngIf="c.titleEN?.length>0" class="mr-1 lang-name">EN</div>
                <div *ngIf="c.titleIT?.length>0" class="lang-name">IT</div>
              </div>
            </div>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-tabset>
            <nb-tab tabTitle="Español" [lazyLoad]="true">
              <concept-form-translation [conceptId]="c.id" [concName]="c.title" [concDescription]="c.description"
                [instructions]="c.instructions" [lang]="'es'" (valuesChanged)='onTitleChanged($event)'>
              </concept-form-translation>
            </nb-tab>
            <nb-tab tabTitle="Inglés" [lazyLoad]="true">
              <concept-form-translation [conceptId]="c.id" [concName]="c.titleEN" [concDescription]="c.descriptionEN"
                [instructions]="c.instructionsEN" [lang]="'en'" (valuesChanged)='onTitleChanged($event)'>
              </concept-form-translation>
            </nb-tab>
            <nb-tab tabTitle="Italiano" [lazyLoad]="true">
              <concept-form-translation [conceptId]="c.id" [concName]="c.titleIT" [concDescription]="c.descriptionIT"
                [instructions]="c.instructionsIT" [lang]="'it'" (valuesChanged)='onTitleChanged($event)'>
              </concept-form-translation>
            </nb-tab>
          </nb-tabset>

        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>