<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-6">Contenido General</div>
      <div class="col-sm-6 text-right">
        <nb-checkbox status="primary" (checkedChange)="onCheckedChange($event)">Por Traducir</nb-checkbox>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <p *ngIf="!contents||contents.length===0">Sin datos que mostrar</p>
    <nb-accordion>
      <nb-accordion-item #item *ngFor="let c of contents">
        <nb-accordion-item-header>
          <div class="row" style="width: 100%;">
            <div class="col-12" *ngIf="c.contentTypeId===0">
              Política de Privacidad
            </div>
            <div class="col-12" *ngIf="c.contentTypeId===1">
              Términos y condiciones
            </div>
            <div class="col-12" *ngIf="c.contentTypeId===2">
              Acerca de Nosotros
            </div>
            <div class="col-12" *ngIf="c.contentTypeId===3">
              Preguntas Frecuentes
            </div>
            <div class="col-12">
              <div class="row pl-3">
                <div class="mr-1 lang-name">ES</div>
                <div *ngIf="c.contentEN?.length>0" class="mr-1 lang-name">EN</div>
                <div *ngIf="c.contentIT?.length>0" class="lang-name">IT</div>
              </div>
            </div>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-tabset>
            <nb-tab tabTitle="Español" [lazyLoad]="true">
              <content-form-translate [contentId]="c.id" [content]="c.content" [lang]="'es'"
                (valuesChanged)='onContentChanged($event)'>
              </content-form-translate>
            </nb-tab>
            <nb-tab tabTitle="Inglés" [lazyLoad]="true">
              <content-form-translate [contentId]="c.id" [content]="c.contentEN" [lang]="'en'"
                (valuesChanged)='onContentChanged($event)'>
              </content-form-translate>
            </nb-tab>
            <nb-tab tabTitle="Italiano" [lazyLoad]="true">
              <content-form-translate [contentId]="c.id" [content]="c.contentIT" [lang]="'it'"
                (valuesChanged)='onContentChanged($event)'>
              </content-form-translate>
            </nb-tab>
          </nb-tabset>

        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>