<nb-card>
  <!-- <nb-card-header>
    Platos
  </nb-card-header> -->

  <nb-card-body>
    <div class="row mb-3 pl-3">
      <div>
        <button nbButton status="primary" (click)="newDish()">
          <nb-icon icon="plus-outline"></nb-icon>Nuevo Plato
        </button>
      </div>
      <div class="col-6"></div>
      <div class="col text-right pr-3">
        <nb-select placeholder="Filtro por Categorías" [fullWidth]="true" [multiple]="true"
          [(selected)]="currentFilerSelection" (selectedChange)="selectionChange($event)">
          <nb-option *ngFor="let t of tags" [value]="t.id"> {{ t.name }} </nb-option>
        </nb-select>
        <br>
        <a *ngIf="showReset==true" (click)="reset()" class="reset">Limpiar</a>
      </div>
    </div>

    <ngx-datatable class="material" [headerHeight]="40" [footerHeight]="40" [rowHeight]="50" [columnMode]="ColumnMode"
      [loadingIndicator]="isLoading" [rows]="dishes" [limit]="perPage">
      <ngx-datatable-column [sortable]="true">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <nb-user [onlyPicture]="true" [picture]="row.image===''?'assets/images/dish.png': row.image"
            style="margin-top:-10px;">
          </nb-user>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="name" name="Nombre">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="calories" name="Calorías (Kcal)">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="carbohydrates" name="Carbohidratos (g)">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="proteins" name="Proteínas (g)">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="fat" name="Grasas (g)">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="fiber" name="Fibras (g)">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" name="Acciones">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button nbTooltip="Editar" nbButton ghost (click)="editDish(row)" size="tiny">
            <nb-icon icon="edit-outline" title="Editar"></nb-icon>
          </button>
          <button nbTooltip="Eliminar" nbButton ghost (click)="deleteDish(row)" size="tiny">
            <nb-icon icon="trash-2-outline" title="Eiminar"> </nb-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </nb-card-body>
</nb-card>