<nb-card>
  <nb-card-header>
    Usuarios
  </nb-card-header>

  <nb-card-body>
    <div class="row mb-3 pl-3">
      <div class="col-2"></div>
      <div class="col-7"></div>
      <div class="col text-right pr-3">
        <label>Estado</label>
        <nb-select [fullWidth]="true" [(selected)]="currentFilerSelection" (selectedChange)="selectionChange($event)">
          <nb-option [value]="-1">Todos</nb-option>
          <nb-option [value]="0">Pendiente</nb-option>
          <nb-option [value]="1">Inactivo</nb-option>
          <nb-option [value]="2">Activo</nb-option>
        </nb-select>
        <br>
        <!-- <a *ngIf="currentFilerSelection!==-1" (click)="reset()" class="reset">Limpiar</a> -->
        <a (click)="reset()" *ngIf="showReset==true" class="reset">Limpiar</a>
      </div>
    </div>

    <ngx-datatable class="material" [headerHeight]="40" [footerHeight]="40" [rows]="users" [rowHeight]="50"
      [loadingIndicator]="isLoading" [columnMode]="ColumnMode" [externalPaging]="true" [count]="total" [offset]="page-1"
      [limit]="perPage" (page)="setPage($event)" [externalSorting]="true" (sort)="setSort($event)">
      <ngx-datatable-column [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <nb-user [onlyPicture]="true" [picture]="row.avatar===''?'assets/images/no-photo.png': row.avatar"
            style="margin-top:-10px;">
          </nb-user>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="fullName" name="Usuario">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="email" name="Correo">
      </ngx-datatable-column>
      <!-- <ngx-datatable-column [sortable]="true" prop="phone" name="Teléfono">
      </ngx-datatable-column> -->
      <ngx-datatable-column [sortable]="true" prop="status" name="Estado">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span *ngIf="row.statusId===0" style="color: blue;">Pendiente</span>
          <span *ngIf="row.statusId===2" style="color: green;">Activo</span>
          <span *ngIf="row.statusId===1" style="color: red;">Inactivo</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="false" name="Acciones">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button nbTooltip="Habilitar" nbButton ghost (click)="enable(row)" size="tiny" *ngIf="row.statusId===1">
            <nb-icon icon="person-done-outline"></nb-icon>
          </button>
          <button nbTooltip="Deshabilitar" nbButton ghost (click)="disable(row)" size="tiny" *ngIf="row.statusId===2">
            <nb-icon icon="person-remove-outline"></nb-icon>
          </button>
          <button nbTooltip="Mensaje" nbButton ghost size="tiny" (click)="sendMessage(row)" *ngIf="row.statusId===2">
            <nb-icon icon="message-circle-outline"></nb-icon>
          </button>
          <button nbTooltip="Detalles" nbButton ghost (click)="userDetails(row)" size="tiny" *ngIf="row.statusId===2">
            <nb-icon icon="info-outline" title="Detalles"></nb-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </nb-card-body>
</nb-card>
