<div style="width:400px;">
  <nb-card>
    <nb-card-header>Habilitar Usuario</nb-card-header>
    <nb-card-body>
      ¿Confirma que desea habilitar al usuario?
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="enable()">Confirmar</button>
      <button nbButton status="basic" (click)="dismiss()" style="float: right;">Cancelar</button>
    </nb-card-footer>
  </nb-card>
</div>