<div class="row" style="display: flex; justify-content: space-between;">
  <div class="col-6">
    <user-stats></user-stats>
  </div>
  <div class="col-6">
    <eat-stats></eat-stats>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <user-stats-by-date></user-stats-by-date>
  </div>
</div>