<nb-card>
  <nb-card-header>
    <div style="display: flex; justify-content: space-between;">
      <div>Usuarios: {{total}}</div>
      <div>
        <!-- <nb-select [(selected)]="currentFilterSelection" (selectedChange)="selectionChange($event)">
          <nb-option *ngFor="let t of options" [value]="t.id"> {{ t.name }} </nb-option>
        </nb-select> -->

        <ng-select [searchable]="false" [clearable]="false" [(ngModel)]="currentFilterSelection"
          (change)="selectionChange($event)">
          <ng-option *ngFor="let t of options" [value]="t.id">{{t.name}}</ng-option>
        </ng-select>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>

    <div style="width: 600px; height: 400px;">
      <ngx-charts-bar-vertical-2d [results]="results" [xAxis]="true" [yAxis]="true" [legend]="true" [legendTitle]="''"
        *ngIf="results.length>0">
      </ngx-charts-bar-vertical-2d>
      <p *ngIf="results.length===0">Sin datos que mostrar.</p>
    </div>
  </nb-card-body>
</nb-card>