<div style="width:600px;">
  <nb-card>
    <nb-card-header>Mensaje</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="inputTitle" class="label">Título</label>
            <input type="text" nbInput fullWidth id="inputTitle" placeholder="Título" name="title" [formControl]="title"
              [status]="title.dirty ? (title.invalid  ? 'danger' : 'success') : 'basic'" [required]="true">
            <ng-container *ngIf="title.invalid && title.touched">
              <p class="caption status-danger" *ngIf="title.errors?.required">
                Debe introducir un título.
              </p>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="label">Cuerpo</label>
            <textarea rows="5" nbInput fullWidth shape="round" placeholder="Cuerpo" name="body" [formControl]="body"
              [status]="'basic'"></textarea>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button type="submit" nbButton [disabled]="!title.valid || isLoading===true" (click)="send()">Enviar</button>
      <button nbButton status="sbasic" (click)="dismiss()" style="float: right;">Cancelar</button>
    </nb-card-footer>
  </nb-card>
</div>