@import '../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}

::ng-deep .lang-name{
    display: flex;
    font-size: 10px;
    color: #3366ff;
    // border: 0.5px solid none;
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
}


::ng-deep .reset{
    cursor: pointer;
    font-size: small;
    color:#598bff !important;
    &:hover{
        font-weight: bold;
    }
}