<div style="width:600px;">
  <nb-card>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="label">Respuesta</label>
            <input type="text" nbInput fullWidth placeholder="Respuesta" name="title" [formControl]="titleControl"
              [status]="titleControl.dirty ? (titleControl.invalid  ? 'danger' : 'success') : 'basic'"
              [required]="true">
            <ng-container *ngIf="titleControl.invalid && titleControl.touched">
              <p class="caption status-danger" *ngIf="titleControl.errors?.required">
                Debe introducir el título de la respuesta.
              </p>
            </ng-container>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton [disabled]="!titleControl.valid || isLoading===true" (click)="saveTranslation()">Salvar</button>
    </nb-card-footer>
  </nb-card>
</div>