<div style="width:600px;">
  <nb-card>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="label">Título</label>
            <input type="text" nbInput fullWidth placeholder="Título" name="title" [formControl]="titleControl"
              [status]="titleControl.dirty ? (titleControl.invalid  ? 'danger' : 'success') : 'basic'"
              [required]="true">
            <ng-container *ngIf="titleControl.invalid && titleControl.touched">
              <p class="caption status-danger" *ngIf="titleControl.errors?.required">
                Debe introducir un título para el recordatorio.
              </p>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="label">Cuerpo</label>
            <textarea rows="5" nbInput fullWidth shape="round" placeholder="Cuerpo" name="body"
              [formControl]="bodyControl" [status]="'basic'"></textarea>
            <ng-container *ngIf="bodyControl.invalid && bodyControl.touched">
              <p class="caption status-danger" *ngIf="bodyControl.errors?.required">
                Debe introducir un cuerpo para el recordatorio.
              </p>
            </ng-container>
          </div>
        </div>
      </div>


    </nb-card-body>
    <nb-card-footer>
      <button type="submit" nbButton [disabled]="!titleControl.valid ||!bodyControl.valid || isLoading===true"
        (click)="saveTranslation()">Salvar</button>
    </nb-card-footer>
  </nb-card>
</div>