<nb-card>
  <!-- <nb-card-header>
    Platos
  </nb-card-header> -->

  <nb-card-body>
    <div class="row mb-3 pl-3">
      <div class="col-3"> </div>
      <div class="col-7"></div>
      <div class="col text-right pr-3">
        <label class="label">Estado</label>
        <nb-select [fullWidth]="true" [(ngModel)]="currentFilterSelection" (selectedChange)="selectionChange($event)">
          <nb-option [value]="-1">Todos</nb-option>
          <nb-option [value]="0">Por revisar</nb-option>
          <nb-option [value]="1">Revisados</nb-option>
        </nb-select>
        <br>
        <a *ngIf="showReset==true" (click)="reset()" class="reset">Limpiar</a>
      </div>
    </div>

    <ngx-datatable class="material" [headerHeight]="40" [footerHeight]="40" [rowHeight]="50" [columnMode]="ColumnMode"
      [loadingIndicator]="isLoading" [rows]="results" [limit]="perPage">
      <ngx-datatable-column [sortable]="true">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <nb-user [onlyPicture]="true" [picture]="row.image===''?'assets/images/dish.png': row.image"
            style="margin-top:-10px;">
          </nb-user>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="name" name="Nombre">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="calories" name="Calorías (Kcal)">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="carbohydrates" name="Carbohidratos (g)">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="proteins" name="Proteínas (g)">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="fat" name="Grasas (g)">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="fiber" name="Fibras (g)">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" name="Acciones">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button nbTooltip="Ver" nbButton ghost (click)="reviewUserDish(row)" size="tiny">
            <nb-icon icon="eye-outline" title="Ver"></nb-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </nb-card-body>
</nb-card>