<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-5">Platos</div>
      <div class="col-sm-2">
        <div class="row" style="display: flex; justify-content: space-between;">
          <span class="page-links" [ngClass]="{'selected-page': selectedPage===1}" (click)="selectPage(1)">1</span>
          <span *ngIf="this.dishes.length< 181" class="page-links" [ngClass]="{'selected-page': selectedPage===2}"
            (click)="selectPage(2)">2</span>
          <span *ngIf="this.dishes.length< 362" class="page-links" [ngClass]="{'selected-page': selectedPage===3}"
            (click)="selectPage(3)">3</span>
          <span *ngIf="this.dishes.length< 543" class="page-links" [ngClass]="{'selected-page': selectedPage===4}"
            (click)="selectPage(4)">4</span>
        </div>
      </div>

      <div class="col-sm-5 text-right">
        <nb-checkbox status="primary" (checkedChange)="onCheckedChange($event)">Por Traducir</nb-checkbox>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <p *ngIf="!dishes||dishes.length===0">Sin datos que mostrar</p>
    <nb-accordion>
      <nb-accordion-item #item *ngFor="let c of dishes">
        <nb-accordion-item-header>
          <div class="row" style="width: 100%;">
            <div class="col-12">{{c.name}}</div>
            <div class="col-12">
              <div class="row pl-3">
                <div class="mr-1 lang-name">ES</div>
                <div *ngIf="c.nameEN?.length>0" class="mr-1 lang-name">EN</div>
                <div *ngIf="c.nameIT?.length>0" class="lang-name">IT</div>
              </div>
            </div>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-tabset>
            <nb-tab tabTitle="Español">
              <dish-form-translate [dishId]="c.id" [name]="c.name" [lang]="'es'"
                (valuesChanged)='onTitleChanged($event)'>
              </dish-form-translate>
            </nb-tab>
            <nb-tab tabTitle="Inglés">
              <dish-form-translate [dishId]="c.id" [name]="c.nameEN" [lang]="'en'"
                (valuesChanged)='onTitleChanged($event)'></dish-form-translate>
            </nb-tab>
            <nb-tab tabTitle="Italiano">
              <dish-form-translate [dishId]="c.id" [name]="c.nameIT" [lang]="'it'"
                (valuesChanged)='onTitleChanged($event)'></dish-form-translate>
            </nb-tab>
          </nb-tabset>

        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>