// ::ng-deep .ngx-datatable.material{
//     .datatable-body {
//         .datatable-body-row {
//             .datatable-body-cell {
//                 // padding-top: 0.25rem;
//                 // margin-top:5px;
//             }
           
//              &:hover {
//                 background-color: #598bff;
//             }
//         }
//     }
// }
.unRead{
    font-weight: bold;
}
.important{
    color: red;
}