<div style="width:800px;">
  <nb-card>
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row mb-3">
        <div class="col-sm-6">
          <div style="font-weight: bold;" class="mb-2">Cuestionario:</div>
          <div> {{poll.name}}</div>
        </div>
        <div class="col-sm-6">
          <div style="font-weight: bold;" class="mb-2">Concepto:</div>
          <div> {{poll.concept?.title}}</div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12">
          <div style="font-weight: bold;" class="mb-2">Descripción:</div>
          <div *ngIf="poll.description!==''" style="max-height: 60px; overflow-y: auto;">{{poll.description}}
          </div>
          <div *ngIf="poll.description===''">-</div>
        </div>
      </div>
      <!-- editor -->
      <div class="row" style="padding: 1px;" *ngIf="poll.isReadOnly===true">
        <my-tiny-mce [content]="poll.htmlContent? poll.htmlContent: ''" (editorKeyup)="onContentChange($event)">
        </my-tiny-mce>
      </div>
      <!-- end editor -->
      <!-- questions -->
      <div class="row" style="max-height: 400px; overflow-y: auto;" *ngIf="poll.isReadOnly===false">
        <div class="col-sm-12">
          <div class="row">
            <div style="font-weight: bold;" class="col-sm-6 mb-2 mt-2">Preguntas:</div>
            <div style="font-weight: bold;" class="col-sm-6 mb-2 mt-2 text-right">
              <!-- <button nbTooltip="Adicionar" nbButton ghost (click)="newQuestion()" size="tiny">
                <nb-icon icon="plus-outline" title="Adicionar"></nb-icon>
              </button> -->
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">Pregunta</div>
            <!-- <div class="col-sm-6 text-right"> Orden</div> -->
          </div>
          <nb-list>
            <nb-list-item *ngFor="let q of poll.questions">
              <div class="row">
                <div class="col-sm-2" *ngIf="showInput===false || selectedQuestion?.id!==q.id">
                  <!-- <button nbTooltip="Eliminar" nbButton ghost (click)="deleteQuestion(q, dialog)" size="tiny"
                    style="margin-top:-5px;">
                    <nb-icon icon="trash-outline" title="Eliminar"></nb-icon>
                  </button> -->
                  <button nbTooltip="Editar" nbButton ghost (click)="editQuestion(q)" size="tiny"
                    style="margin-top:-5px;">
                    <nb-icon icon="edit-outline" title="Editar"></nb-icon>
                  </button>
                </div>
                <div class="col-sm-8" (dblclick)="inlineEdition(q)"
                  *ngIf="showInput===false || selectedQuestion?.id!==q.id">
                  {{ q.title }}
                </div>

                <div class="col-sm-10" *ngIf="showInput===true && selectedQuestion?.id===q.id">
                  <input type="text" nbInput fullWidth [(ngModel)]="questionName" #questionTitleElement tabindex="-1"
                    (focusout)="hideInput()"
                    [status]="showInput===true ? (questionName===''  ? 'danger' : 'success') : 'basic'" />
                  <ng-container *ngIf="showInput===true && questionName===''">
                    <p class="caption status-danger">
                      Debe introducir un valor.
                    </p>
                  </ng-container>
                </div>

                <div class="col-sm-2 text-right">
                  <!-- <ng-select [searchable]="false" [clearable]="false" [(ngModel)]="q.order"
                    (change)="selectionChange($event, q)">
                    <ng-option *ngFor="let t of poll.questions; index as pos" [value]="pos+1">{{pos+1}}</ng-option>
                  </ng-select> -->
                </div>
              </div>

            </nb-list-item>
          </nb-list>
        </div>
      </div>
      <!-- end questions -->
    </nb-card-body>
    <nb-card-footer>
      <button *ngIf="poll.isReadOnly===true" nbButton (click)="saveContent()">Actualizar</button>
      <button nbButton status="basic" (click)="dismiss()" style="float: right;">Cancelar</button>
    </nb-card-footer>
  </nb-card>
</div>

<!-- <ng-template #dialog let-data let-ref="dialogRef">
  <div style="width:600px;">
    <nb-card>
      <nb-card-header>Eliminar Pregunta</nb-card-header>
      <nb-card-body>
        ¿Confirma la eliminación de la pregunta y sus respuestas asociadas?
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="danger" (click)="deleteQuestionDialog(ref)">Confirmar</button>
        <button nbButton status="basic" (click)="dismissDeleteQuestion(ref)" style="float: right;">Cancelar</button>
      </nb-card-footer>
    </nb-card>
  </div>
</ng-template> -->