<div style="width:400px;">
  <nb-card>
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      ¿Confirma la eliminación del cuestionario y sus preguntas y respuestas asociadas?
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="danger" (click)="delete()">Confirmar</button>
      <button nbButton status="basic" (click)="dismiss()" style="float: right;">Cancelar</button>
    </nb-card-footer>
  </nb-card>
</div>