<nb-layout>
  <nb-layout-column>
    <concept-table [concepts]="results" [isLoading]="isLoading" [perPage]="perPage" (reseted)="onReseted($event)">
    </concept-table>
  </nb-layout-column>

</nb-layout>