<nb-card>
  <nb-card-header>
    Cuestionarios
  </nb-card-header>

  <nb-card-body>
    <div class="row mb-3 pl-3">
      <!-- <div>
        <button nbButton status="primary" (click)="newPoll()">
          <nb-icon icon="plus-outline"></nb-icon>Nuevo Cuestionario
        </button>
      </div> -->
      <div class="col-7"></div>
      <div class="col text-right pr-3">
        <label>Concepto</label>
        <nb-select [fullWidth]="true" [multiple]="false" [(ngModel)]="currentFilerSelection"
          (selectedChange)="selectionChange($event)">
          <nb-option [value]="-1"> Todos</nb-option>
          <nb-option *ngFor="let t of concepts" [value]="t.id"> {{ t.title }} </nb-option>
        </nb-select>
        <br>
        <a *ngIf="currentFilerSelection!==-1" (click)="reset()" class="reset">Limpiar</a>
      </div>
    </div>
    <ngx-datatable class="material" [headerHeight]="40" [footerHeight]="40" [rowHeight]="50" [columnMode]="ColumnMode"
      [loadingIndicator]="isLoading" [rows]="polls" [limit]="perPage">
      <ngx-datatable-column [sortable]="true" prop="name" name="Nombre">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="concept.title" name="Concepto">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" name="Solo Lectura" [width]="50">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span *ngIf="row.isReadOnly===true">Sí</span>
          <span *ngIf="row.isReadOnly===false">No</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="createdAt" name="Creado" [width]="50">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.createdAt | date:'short'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="modifiedAt" name="Modificado" [width]="50">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.modifiedAt | date:'short'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" name="Acciones">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button nbTooltip="Editar" nbButton ghost (click)="editPoll(row)" size="tiny">
            <nb-icon icon="edit-outline" title="Editar"></nb-icon>
          </button>
          <!-- <button nbTooltip="Eliminar" nbButton ghost (click)="deletePoll(row)" size="tiny">
            <nb-icon icon="trash-outline" title="Eliminar"></nb-icon>
          </button> -->
          <button nbTooltip="Detalles" nbButton ghost (click)="pollDetails(row)" size="tiny">
            <nb-icon icon="info-outline" title="Detalles"></nb-icon>
          </button>

          <!-- <button nbTooltip="Preguntas/Respuestas" nbButton ghost size="tiny" *ngIf="row.isReadOnly===true"
            (click)="questionAnswers(row)">
            <nb-icon icon="flash-outline" title="Preguntas/Respuestas"></nb-icon>
          </button> -->

          <button nbTooltip="Consejos" nbButton ghost size="tiny" (click)="tips(row)">
            <nb-icon icon="bulb-outline" title="Consejos"></nb-icon>
          </button>

          <!-- <button nbTooltip="Solo Lectura" nbButton ghost size="tiny" *ngIf="row.isReadOnly===false"
            (click)="makeReadOnly(row)">
            <nb-icon icon="flash-off-outline" title="Solo Lectura"></nb-icon>
          </button> -->
        </ng-template>

      </ngx-datatable-column>
    </ngx-datatable>
  </nb-card-body>
</nb-card>