<div style="width:400px;">
  <nb-card>
    <nb-card-header>Deshabilitar Usuario</nb-card-header>
    <nb-card-body>
      ¿Confirma que desea deshabilitar al usuario?
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="danger" (click)="disable()">Confirmar</button>
      <button nbButton status="basic" (click)="dismiss()" style="float: right;">Cancelar</button>
    </nb-card-footer>
  </nb-card>
</div>